body, #quote, .twitter-share-button {background-color: #FB6964;}
.fa-quote-left {color: #FB6964;}

#quote {
    width: 600px;
    background: white;
    margin: auto;
    float: none;
    overflow: hidden;
    padding: 50px;
    margin-top: 8%;
}

.quote_content {overflow: hidden;}

.fa-quote-left {padding-right: 10px;}

#quote .content p {display: inline;}

.content {
  	font-size: 22px;
  	text-align: center;
}

.title,
#quote_btn {
  	float: right;
	margin-top: 12px;
}

#quote_btn {
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 9px 15px;
}

.twitter-share-button {
    color: #fff;
    border-radius: 2px;
    margin-top: 13px;
    float: left;
    padding-top: 8px;
    text-align: center;
    font-size: 1.2em;
    margin-right: 5px;
    height: 38px;
    width: 40px;
}

.author, .author a {color: #fff}
.author {padding: 10px 0;}

a:focus, a:hover {
	color: #fff !important;
}